{
  "extends": "airbnb",
  "globals": {
    "document": true,
    "foo": true,
    "window": true
  },
  "rules": {
    "jsx-quotes": [2, "prefer-single"],
    "react/prefer-stateless-function": [0]
  },
    {
    "plugins": [
      "syntax-decorators",
      "transform-decorators-legacy",
      "transform-class-properties"
    ],
    "presets": [
      "es2015",
      "react",
      "stage-0"
    ]
  }
}
